<script>
    function primeraPagina(){
        $("#pagina").val(1);
        $("#registrosPorPagina").val(@(Model.RegistrosPorPagina));
    }
    function ultimaPagina() {
        $("#pagina").val(@(Model.TotalPaginas));
        $("#registrosPorPagina").val(@Model.RegistrosPorPagina);
    }
    function anteriorPagina() {
        $("#pagina").val(@(Model.PaginaActual) - 1);
        $("#registrosPorPagina").val(@(Model.RegistrosPorPagina));
    }
    function siguientePagina() {
        $("#pagina").val(@(Model.PaginaActual) + 1);
        $("#registrosPorPagina").val(@(Model.RegistrosPorPagina));
    }
</script>


@if (Model.TotalRegistros > 0)
{
    <span class="d-none d-lg-inline">
        <strong>@Model.TotalRegistros</strong> registros encontrados<span> | </span>
    </span>
    <span>
        Página
        <input style="font-weight: bold;" value="@(Model.PaginaActual)" id="pagina"  name="pagina" type="number"
               min="1" max="@(Model.TotalPaginas)" asp-action="Index" class="form-control-sm" />
        de <strong>@Model.TotalPaginas</strong><span> | </span>
    </span>
}
else
{
    <span>No hay resultados para esta búsqueda | </span>
}

@if (Model.PaginaActual > 1)
{
    <button class="btn btn-sm btn-default" onclick="primeraPagina(); this.form.submit()">&lt;&lt;</button>
    <button class="btn btn-sm btn-default" onclick="anteriorPagina(); this.form.submit()">Anterior</button>
}
else
{
    <button class="btn btn-sm btn-default disabled" onclick="primeraPagina(); this.form.submit()">&lt;&lt;</button>
    <button class="btn btn-sm btn-default disabled" onclick="anteriorPagina(); this.form.submit()">Anterior</button>
}

@if (Model.PaginaActual < Model.TotalPaginas)
{
    <button class="btn btn-sm btn-default" onclick="siguientePagina(); this.form.submit()">Siguiente</button>
    <button class="btn btn-sm btn-default" onclick="ultimaPagina(); this.form.submit()">&gt;&gt;</button>
}
else
{
    <button class="btn btn-sm btn-default disabled" onclick="siguientePagina(); this.form.submit()">Siguiente</button>
    <button class="btn btn-sm btn-default disabled" onclick="ultimaPagina(); this.form.submit()">&gt;&gt;</button>
}
<span> | Registros por página: </span>
