@model CarSun.Models.Marca

@{
    ViewData["Title"] = "Marca - Editar";
}

<div class="card">
    <div class="card-header">
        <h3>Editar marca</h3>
    </div>
    <form asp-action="Edit">
        <div class="card-body">
            <div class="row row-cols-md-2 row-cols-1">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Pais" class="control-label"></label>
                    <input asp-for="Pais" class="form-control" />
                    <span asp-validation-for="Pais" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Series" class="control-label">Series</label>
                    <ul class="list-group-numbered list-unstyled">
                        @foreach (var subitem in Model.Series.OrderBy(s => s.Nombre))
                        {
                            <li class="list-group-item align-items-center">
                                @subitem.Nombre 
                                <div class="float-end">
                                    <a class="link-primary" asp-controller="Series" asp-action="Edit" asp-route-id="@subitem.Id">Editar</a>
                                    <span> </span>
                                    <a class="link-danger" asp-controller="Series" asp-action="Delete" asp-route-id="@subitem.Id">Borrar</a>
                                </div>
                            </li>
                        }
                        <li class="list-group-item align-items-center">
                            <a class="link-primary" asp-controller="Series" asp-route-marcaId="@Model.Id" asp-action="Create">Crear y añadir</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row row-cols-auto">
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                </div>
                <div>
                    <a class="btn btn-secondary" asp-action="Index">Volver al listado</a>
                </div>
                <div>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id">Borrar</a>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
